<a href="https://colab.research.google.com/github/BhaskarFysik/AlgoShared/blob/main/bh_yfinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 571 kB/s
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87

In [2]:
import yfinance as yf
symbol='ITC'
df = yf.Ticker(f"{symbol}.NS")

In [3]:
# get stock info
stock_info=df.info
stock_info

{'zip': '700071',
 'sector': 'Consumer Defensive',
 'fullTimeEmployees': 23829,
 'longBusinessSummary': 'ITC Limited engages in the fast-moving consumer goods, hotels, paperboards and paper, packaging, agri, and information technology (IT) businesses in India and internationally. It primarily offers cigarettes and cigars; staples, spices, biscuits, confectionery and gums, snacks, noodles and pasta, beverages, dairy, ready to eat meals, chocolate, coffee, and frozen foods; personal care products; notebooks, pens and pencils, geometry boxes, erasers, sharpeners, rulers, wax and plastic crayons, sketch pens, and oil pastels; apparel, safety matches; and incense sticks under various brands. The company also operates approximately 113 hotels under the ITC Hotel, WelcomHotel, Fortune, and WelcomHeritage brands; and Kaya Kalp spas. In addition, it offers virgin, recycled, barrier coated, biodegradable barrier, and graphic boards, as well as specialty papers; and packaging products, such as carton board, flexible, tobacco, and green packaging products; and exports feed ingredients, food grains, marine products, processed fruits, coffee products, leaf tobacco products, and spices. Further, the company offers information technology services for the banking, financial services, consumer goods, manufacturing, travel, hospitality, and healthcare industries. Additionally, it provides property infrastructure and estate maintenance; engineering, procurement, and construction management services; project management consultancy services; business consulting, real estate development, and agro-forestry and other related services; manages and operates golf courses; fabricates and assembles machinery for tube filling; cartooning and wrapping services; conveyor solutions; and produces and commercializes seed potato technology products The company was incorporated in 1910 and is headquartered in Kolkata, India.',
 'city': 'Kolkata',
 'phone': '91 33 2288 9371',
 'country': 'India',
 'companyOfficers': [],
 'website': 'https://www.itcportal.com',
 'maxAge': 1,
 'address1': 'Virginia House',
 'fax': '91 33 2288 4016',
 'industry': 'Tobacco',
 'address2': '37 Jawaharlal Nehru Road',
 'ebitdaMargins': 0.33721,
 'profitMargins': 0.24923,
 'grossMargins': 0.55086,
 'operatingCashflow': 174053801984,
 'revenueGrowth': 0.244,
 'operatingMargins': 0.31302,
 'ebitda': 233552904192,
 'targetLowPrice': 304,
 'recommendationKey': 'buy',
 'grossProfits': 336206000000,
 'freeCashflow': 113711562752,
 'targetMedianPrice': 397.5,
 'currentPrice': 337.3,
 'earningsGrowth': 0.232,
 'currentRatio': 2.848,
 'returnOnAssets': 0.17298001,
 'numberOfAnalystOpinions': 34,
 'targetMeanPrice': 387.24,
 'debtToEquity': 0.382,
 'returnOnEquity': 0.27524,
 'targetHighPrice': 424,
 'totalCash': 162994798592,
 'totalDebt': 2526599936,
 'totalRevenue': 692611317760,
 'totalCashPerShare': 13.16,
 'financialCurrency': 'INR',
 'revenuePerShare': 56.116,
 'quickRatio': 1.426,
 'recommendationMean': 1.7,
 'exchange': 'NSI',
 'shortName': 'ITC LTD',
 'longName': 'ITC Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'ITC.NS',
 'messageBoardId': 'finmb_878153',
 'market': 'in_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 5.805,
 'beta3Year': None,
 'enterpriseToEbitda': 17.214,
 '52WeekChange': 0.52617264,
 'morningStarRiskRating': None,
 'forwardEps': 16.22,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 12410300416,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 52.984,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1648684800,
 'heldPercentInstitutions': 0.44915,
 'netIncomeToCommon': 172619497472,
 'trailingEps': 13.97,
 'lastDividendValue': 6.25,
 'SandP52WeekChange': -0.14677763,
 'priceToBook': 6.366072,
 'heldPercentInsiders': 0.32373002,
 'nextFiscalYearEnd': 1711843200,
 'yield': None,
 'mostRecentQuarter': 1664496000,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 8739539692,
 'beta': 0.307665,
 'enterpriseValue': 4020375388160,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1467331200,
 'lastSplitFactor': '3:2',
 'legalType': None,
 'lastDividendDate': 1653523200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.244,
 'priceToSalesTrailing12Months': 6.0437856,
 'dateShortInterest': None,
 'pegRatio': 1.53,
 'ytdReturn': None,
 'forwardPE': 20.795315,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 336.75,
 'regularMarketOpen': 334.1,
 'twoHundredDayAverage': 295.98926,
 'trailingAnnualDividendYield': 0.018559763,
 'payoutRatio': 0.8232,
 'volume24Hr': None,
 'regularMarketDayHigh': 338.2,
 'navPrice': None,
 'averageDailyVolume10Day': 10672298,
 'regularMarketPreviousClose': 336.75,
 'fiftyDayAverage': 341.452,
 'trailingAnnualDividendRate': 6.25,
 'open': 334.1,
 'toCurrency': None,
 'averageVolume10days': 10672298,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 11.5,
 'exDividendDate': 1653523200,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 334.1,
 'currency': 'INR',
 'trailingPE': 24.144594,
 'regularMarketVolume': 6326524,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 4185994297344,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 12895867,
 'dayLow': 334.1,
 'ask': 0,
 'askSize': 0,
 'volume': 6326524,
 'fiftyTwoWeekHigh': 361.45,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 3.61,
 'fiftyTwoWeekLow': 207,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0341,
 'bidSize': 0,
 'dayHigh': 338.2,
 'coinMarketCapLink': None,
 'regularMarketPrice': 337.3,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/itcportal.com',
 'trailingPegRatio': None}

In [4]:
# get historical market data
stock_hist = df.history(period="60d",interval="15m")
stock_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-09-09 09:15:00+05:30,331.000000,331.600006,330.950012,331.250000,432663,0,0
2022-09-09 09:30:00+05:30,331.250000,331.950012,331.000000,331.799988,508996,0,0
2022-09-09 09:45:00+05:30,331.799988,332.000000,331.200012,331.600006,310615,0,0
2022-09-09 10:00:00+05:30,331.600006,332.200012,331.450012,331.500000,352946,0,0
2022-09-09 10:15:00+05:30,331.500000,332.450012,331.500000,332.000000,453276,0,0
...,...,...,...,...,...,...,...
2022-12-06 14:30:00+05:30,336.950012,337.250000,336.750000,336.950012,237156,0,0
2022-12-06 14:45:00+05:30,336.850006,337.100006,336.600006,336.899994,235771,0,0
2022-12-06 15:00:00+05:30,336.950012,337.600006,336.799988,337.549988,878129,0,0
2022-12-06 15:15:00+05:30,337.549988,337.600006,337.299988,337.549988,981874,0,0
2022-12-06 15:30:00+05:30,337.299988,337.299988,337.299988,337.299988,0,0,0

In [5]:
# show actions (dividends, splits)
stock_actions=df.actions
stock_actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [8]:
# show dividends
stock_dividends=df.dividends
stock_dividends

Series([], Name: Dividends, dtype: int64)

In [10]:
# show splits
stock_splits=df.splits
stock_splits

Series([], Name: Stock Splits, dtype: int64)

In [11]:
# show financials
stock_financials=df.financials
stock_quarterly_financials=df.quarterly_financials
stock_financials

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,207404700000.0,179381700000.0,200345700000.0,191498200000.0
Minority Interest,3663000000.0,3468100000.0,3774700000.0,3434700000.0
Net Income,152426600000.0,131611900000.0,153062300000.0,125923300000.0
Selling General Administrative,62626900000.0,59082600000.0,55639700000.0,55103500000.0
Gross Profit,336206000000.0,285690800000.0,313506700000.0,302820200000.0
Ebit,188701100000.0,154127200000.0,176719300000.0,171148000000.0
Operating Income,188701100000.0,154127200000.0,176719300000.0,171148000000.0
Other Operating Expenses,67553900000.0,56025100000.0,64698600000.0,62602600000.0
Interest Expense,-393600000.0,-445800000.0,-546800000.0,-454200000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,52373400000.0,45552900000.0,44417900000.0,63139200000.0
Total Revenue,606680900000.0,492727800000.0,494040500000.0,483526800000.0
Total Operating Expenses,417979800000.0,338600600000.0,317321200000.0,312378800000.0
Cost Of Revenue,270474900000.0,207037000000.0,180533800000.0,180706600000.0
Total Other Income Expense Net,18703600000.0,25254500000.0,23626400000.0,20350200000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,155031300000.0,133828800000.0,155927800000.0,128359000000.0
Net Income Applicable To Common Shares,152426600000.0,131611900000.0,153062300000.0,125923300000.0

In [12]:
# show major holders
stock_majorholding=df.major_holders
stock_majorholding

        0                                      1
0  32.37%        % of Shares Held by All Insider
1  44.91%       % of Shares Held by Institutions
2  66.42%        % of Float Held by Institutions
3     202  Number of Institutions Holding Shares

In [14]:
# show institutional holders
stock_inst_holding=df.institutional_holders
stock_inst_holding

In [15]:
# show balance sheet
stock_balance_sheet=df.balance_sheet
stock_quarterly_balance_sheet=df.quarterly_balance_sheet
stock_balance_sheet

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
Intangible Assets,2.040190e+10,2.017900e+10,5.302200e+09,5.561600e+09
Capital Surplus,9.959310e+10,9.582810e+10,9.182660e+10,8.493930e+10
Total Liab,1.443768e+11,1.312515e+11,1.171631e+11,1.231407e+11
Total Stockholder Equity,6.245557e+11,6.034734e+11,6.527326e+11,5.914087e+11
Minority Interest,3.663000e+09,3.468100e+09,3.774700e+09,3.434700e+09
Other Current Liab,3.895700e+10,2.747960e+10,2.461480e+10,2.139900e+10
Total Assets,7.725955e+11,7.381930e+11,7.736704e+11,7.179841e+11
Common Stock,1.232330e+10,1.230880e+10,1.229220e+10,1.225860e+10
Other Current Assets,1.377620e+10,1.193240e+10,9.797200e+09,8.351200e+09
Retained Earnings,4.948783e+11,4.741842e+11,5.266017e+11,4.588755e+11
Other Liab,2.075450e+10,2.222930e+10,1.946640e+10,2.293930e+10
Good Will,7.797300e+09,7.797300e+09,2.025300e+09,2.025300e+09
Gains Losses Not Affecting Retained Earnings,1.776100e+10,2.115230e+10,2.201210e+10,3.533530e+10
Other Assets,1.841490e+10,1.840240e+10,2.556130e+10,3.324210e+10
Cash,2.713700e+09,2.904200e+09,6.503500e+09,3.178100e+09
Total Current Liabilities,1.216371e+11,1.068968e+11,9.559770e+10,1.001199e+11
Deferred Long Term Asset Charges,6.353000e+08,5.854000e+08,5.629000e+08,5.937000e+08
Short Long Term Debt,1.040000e+07,6.500000e+06,2.560000e+07,3.430000e+07
Other Stockholder Equity,1.776100e+10,2.115230e+10,2.201210e+10,3.533530e+10
Property Plant Equipment,2.427301e+11,2.413558e+11,2.385169e+11,2.275192e+11
Total Current Assets,3.423245e+11,3.499199e+11,3.950535e+11,3.174727e+11
Long Term Investments,1.409268e+11,1.005386e+11,1.072112e+11,1.321632e+11
Net Tangible Assets,5.963565e+11,5.754971e+11,6.454051e+11,5.838218e+11
Short Term Investments,5.668830e+10,4.733950e+10,7.422600e+10,4.373360e+10
Net Receivables,3.676760e+10,3.420830e+10,3.538820e+10,4.929510e+10
Long Term Debt,4.850000e+07,5.580000e+07,5.900000e+07,8.150000e+07
Inventory,1.097359e+11,1.050722e+11,8.965530e+10,7.943970e+10
Accounts Payable,4.417260e+10,4.318730e+10,3.629830e+10,3.509580e+10

In [16]:
# show cashflow
stock_cashflow=df.cashflow
stock_quarterly_cashflow=df.quarterly_cashflow
stock_cashflow

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
Investments,-1.203480e+10,8.419850e+10,-5.293380e+10,-3.619870e+10
Change To Liabilities,1.099110e+10,1.112460e+10,-6.068700e+09,6.386000e+09
Total Cashflows From Investing Activities,-2.238490e+10,5.682910e+10,-6.174020e+10,-5.545680e+10
Net Borrowings,-5.937000e+08,-5.701000e+08,-5.277000e+08,-1.763000e+08
Total Cash From Financing Activities,-1.358050e+11,-1.863383e+11,-8.181480e+10,-6.868640e+10
Issuance Of Stock,2.918200e+09,2.906500e+09,6.253000e+09,9.691300e+09
Net Income,1.524266e+11,1.316119e+11,1.530623e+11,1.259233e+11
Change In Cash,-4.348000e+08,-3.668800e+09,3.341600e+09,1.690900e+09
Total Cash From Operating Activities,1.577551e+11,1.252697e+11,1.468966e+11,1.258341e+11
Depreciation,1.718600e+10,1.618450e+10,1.607310e+10,1.354440e+10
Other Cashflows From Investing Activities,1.050620e+10,1.282170e+10,1.530000e+10,1.197300e+10
Dividends Paid,-1.354707e+11,-1.862929e+11,-7.048760e+10,-6.285210e+10
Change To Inventory,-4.663700e+09,-1.459780e+10,-5.079900e+09,-3.594400e+09
Change To Account Receivables,-7.322900e+09,-6.558000e+08,1.411000e+10,-7.546900e+09
Other Cashflows From Financing Activities,-2.658800e+09,-2.381800e+09,-1.705250e+10,-1.534930e+10
Change To Netincome,-1.100010e+10,-1.866910e+10,-2.557620e+10,-9.300000e+09
Capital Expenditures,-2.141640e+10,-1.836640e+10,-2.441150e+10,-3.169120e+10

In [17]:
# show earnings
stock_earnings=df.earnings
stock_quarterly_earnings=df.quarterly_earnings
stock_earnings

           Revenue      Earnings
Year
2019  483526800000  125923300000
2020  494040500000  153062300000
2021  492727800000  131611900000
2022  606680900000  152426600000

In [18]:
# show sustainability
stock_sustainability=df.sustainability
stock_sustainability

                               Value
2022-8
palmOil                        False
controversialWeapons           False
gambling                       False
socialScore                     14.3
nuclear                        False
furLeather                     False
alcoholic                      False
gmo                            False
catholic                       False
socialPercentile                None
peerCount                         88
governanceScore                 7.69
environmentPercentile           None
animalTesting                  False
tobacco                         True
totalEsg                       27.91
highestControversy                 2
esgPerformance              AVG_PERF
coal                           False
pesticides                     False
adult                          False
percentile                     55.31
peerGroup              Food Products
smallArms                      False
environmentScore                5.92
governancePercentile            None
militaryContract               False

In [19]:
# show analysts recommendations
stock_recommendations=df.recommendations
stock_recommendations

In [20]:
# show next event (earnings, etc)
stock_events=df.calendar
stock_events

                                    0                    1
Earnings Date     2023-02-01 10:59:00  2023-02-06 12:00:00
Earnings Average                 3.93                 3.93
Earnings Low                     3.93                 3.93
Earnings High                    3.93                 3.93
Revenue Average          179761000000         179761000000
Revenue Low              169400000000         169400000000
Revenue High             190123000000         190123000000

In [21]:
# show all earnings dates
stock_earnings_dates=df.earnings_dates
stock_earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2023-10-18 16:00:00+05:30           NaN           NaN          NaN
2023-07-31 16:00:00+05:30           NaN           NaN          NaN
2023-05-16 16:00:00+05:30           NaN           NaN          NaN
2023-02-01 16:00:00+05:30          3.93           NaN          NaN
2022-10-20 16:00:00+05:30          3.36           3.6       0.0714

In [24]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
stock_isin=df.isin
stock_isin

'SG1C67001091'

In [25]:
# show news
stock_news=df.news
stock_news

[{'uuid': '03f9ee07-8c07-3d4b-aa2a-783d857934ce',
  'title': 'Patient engagement technology provider SONIFI Health names Brian Nido as vice president of customer success',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/patient-engagement-technology-provider-sonifi-151300243.html',
  'providerPublishTime': 1670339580,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/98zL9x29TUuBxQURoP7jcQ--~B/aD0zMTc7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/62c9804e9d45a6ba299b7ef81d315cae',
     'width': 400,
     'height': 317,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/p0Ne0rpgcpaZ7y1p5JgVoQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/62c9804e9d45a6ba299b7ef81d315cae',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': 'a6a023a3-7175-341a-a94e-8626030a3f64',
  'title': 'Synoptek Acquires Optistar Technology',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/synoptek-aquires-optistar-technology-140000670.html',
  'providerPublishTime': 1670339580,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/LdqzxUsP64fl8bPbpDE_Og--~B/aD05NTt3PTQ4MDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/business-wire.com/ac3477b6c4aa1e8c0a109997b33234ec',
     'width': 480,
     'height': 95,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Yt4k.Ai8vA344MUPXXPvTg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/ac3477b6c4aa1e8c0a109997b33234ec',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '7c15ad58-03a2-3cc0-a31b-204274f418af',
  'title': 'Toronto Home-Price Declines Are Slowing Because Few Properties Are for Sale',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/toronto-home-price-declines-slowing-100000457.html',
  'providerPublishTime': 1670339530,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/tqoYWyb4gYtmZpSdWs5kjQ--~B/aD03NjA7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/cbe8783e78ccbac1b4fd0fd7578e2e4e',
     'width': 1296,
     'height': 760,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/q321GMBA6CBehChI7RqtEg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/cbe8783e78ccbac1b4fd0fd7578e2e4e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': 'b33f3dcc-400b-3984-866d-c5d70e2f25fc',
  'title': 'Retirement Revolution: How a team of Financial Advisors are reimagining Retirement Planning',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/retirement-revolution-team-financial-advisors-151100576.html',
  'providerPublishTime': 1670339460,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/F_MdDDsv9lGX90g_6b.9ng--~B/aD0xNDE7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/13d87ced88ef930619ea4bca7f4b7713',
     'width': 400,
     'height': 141,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/cV5zVU8X6cVQMNJkNDvdwg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/13d87ced88ef930619ea4bca7f4b7713',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '21b53ffd-9556-3f87-84bd-5b94081e0c07',
  'title': 'World of Hyatt Inks NIL Deal with College Football Star Jalin Hyatt',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/world-hyatt-inks-nil-deal-151000519.html',
  'providerPublishTime': 1670339400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/7MHCHzQWTil2G9W0MVb7UA--~B/aD04MTt3PTE0NDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/business-wire.com/ea0a68a1ebc384065f9ab364678f9f64',
     'width': 144,
     'height': 81,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/SphLIhpUXswTEMs_8Waf7w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/ea0a68a1ebc384065f9ab364678f9f64',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['H']},
 {'uuid': '23332d80-4f35-338c-8ad4-f6210663ebca',
  'title': 'Shenandoah Biotechnology Introduces Expanded Range of CTGrade Recombinant Proteins Manufactured Following cGMP Practices',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/shenandoah-biotechnology-introduces-expanded-range-151000219.html',
  'providerPublishTime': 1670339400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/nRO6uPKbSqVAbF4D_1dTPw--~B/aD0xODc7dz0zMjk7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/business-wire.com/d72051019f207d1ad0bf0f7957341fc6',
     'width': 329,
     'height': 187,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/5TwPnaTa7q_N4j5cG3o93g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/d72051019f207d1ad0bf0f7957341fc6',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '2589ea58-f107-36e6-b5c4-0c0a3cef60cd',
  'title': 'Todos Medical to Present at the RHK 2022 Disruptive Growth Conference',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/todos-medical-present-rhk-2022-151000278.html',
  'providerPublishTime': 1670339400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/e43thzCxBtXQ5BYDPhw2kw--~B/aD0yMzM5O3c9MTY1NDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/globenewswire.com/1c09a1438538de36fb72f6a42fab4e0d',
     'width': 1654,
     'height': 2339,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/PwfmSLG0Qv4oA2wdovoRbg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/globenewswire.com/1c09a1438538de36fb72f6a42fab4e0d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TOMDF']},
 {'uuid': '9ba8fa94-3512-357c-808b-abc5829b67b8',
  'title': 'Pivoting from Potential to Performance',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/pivoting-potential-performance-151000729.html',
  'providerPublishTime': 1670339400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/QmIFLcwuSGjN_t0utgIEww--~B/aD00MDA7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/8b71ed2d0e52f694f9c1e0a4d2881f7c',
     'width': 400,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/0Z8epk6BAR6BoB7raiABIQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/8b71ed2d0e52f694f9c1e0a4d2881f7c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}}]